[class*="col-"], .col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.three-equal-columns,
.three-unequal-columns,
.two-columns,
.two-columns-with-two-nested-columns,
.mixed-mobile-and-desktop,
.mixed-mobile-tablet-and-desktop,
.offset-push-and-pull-resets {
  margin-left: -15px;
  margin-right: -15px;
}

.three-equal-columns:before, .three-equal-columns:after,
.three-unequal-columns:before,
.three-unequal-columns:after,
.two-columns:before,
.two-columns:after,
.two-columns-with-two-nested-columns:before,
.two-columns-with-two-nested-columns:after,
.mixed-mobile-and-desktop:before,
.mixed-mobile-and-desktop:after,
.mixed-mobile-tablet-and-desktop:before,
.mixed-mobile-tablet-and-desktop:after,
.offset-push-and-pull-resets:before,
.offset-push-and-pull-resets:after {
  content: " ";
  display: table;
}

.three-equal-columns:after,
.three-unequal-columns:after,
.two-columns:after,
.two-columns-with-two-nested-columns:after,
.mixed-mobile-and-desktop:after,
.mixed-mobile-tablet-and-desktop:after,
.offset-push-and-pull-resets:after {
  clear: both;
}

.three-equal-columns .col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .three-equal-columns .col {
    float: left;
    width: 33.33333%;
  }
}

.three-unequal-columns .col-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .three-unequal-columns .col-3 {
    float: left;
    width: 25%;
  }
}

.three-unequal-columns .col-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .three-unequal-columns .col-6 {
    float: left;
    width: 50%;
  }
}

.two-columns .col-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .two-columns .col-4 {
    float: left;
    width: 33.33333%;
  }
}

.two-columns .col-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .two-columns .col-8 {
    float: left;
    width: 66.66667%;
  }
}

.two-columns-with-two-nested-columns .col-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .two-columns-with-two-nested-columns .col-8 {
    float: left;
    width: 66.66667%;
  }
}

.two-columns-with-two-nested-columns .col-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .two-columns-with-two-nested-columns .col-6 {
    float: left;
    width: 50%;
  }
}

.two-columns-with-two-nested-columns .col-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .two-columns-with-two-nested-columns .col-4 {
    float: left;
    width: 33.33333%;
  }
}

.mixed-mobile-and-desktop .col-large {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .mixed-mobile-and-desktop .col-large {
    float: left;
    width: 66.66667%;
  }
}

.mixed-mobile-and-desktop .col-medium {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.mixed-mobile-and-desktop .col-small {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .mixed-mobile-and-desktop .col-small {
    float: left;
    width: 33.33333%;
  }
}

.mixed-mobile-tablet-and-desktop .col-one {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .mixed-mobile-tablet-and-desktop .col-one {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .mixed-mobile-tablet-and-desktop .col-one {
    float: left;
    width: 66.66667%;
  }
}

.mixed-mobile-tablet-and-desktop .col-two {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .mixed-mobile-tablet-and-desktop .col-two {
    float: left;
    width: 33.33333%;
  }
}

.mixed-mobile-tablet-and-desktop .col-three {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .mixed-mobile-tablet-and-desktop .col-three {
    float: left;
    width: 33.33333%;
  }
}

.offset-push-and-pull-resets .col-one {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .offset-push-and-pull-resets .col-one {
    float: left;
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  .offset-push-and-pull-resets .col-one {
    float: left;
    width: 50%;
  }
}

.offset-push-and-pull-resets .col-two {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .offset-push-and-pull-resets .col-two {
    float: left;
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .offset-push-and-pull-resets .col-two {
    margin-left: 16.66667%;
  }
}

@media (min-width: 992px) {
  .offset-push-and-pull-resets .col-two {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .offset-push-and-pull-resets .col-two {
    margin-left: 0%;
  }
}

.offset-push-and-pull-resets .col-three {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .offset-push-and-pull-resets .col-three {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .offset-push-and-pull-resets .col-three {
    float: left;
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .offset-push-and-pull-resets .col-three {
    float: left;
    width: 50%;
  }
}

.offset-push-and-pull-resets .col-four {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .offset-push-and-pull-resets .col-four {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .offset-push-and-pull-resets .col-four {
    float: left;
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  .offset-push-and-pull-resets .col-four {
    margin-left: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .offset-push-and-pull-resets .col-four {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .offset-push-and-pull-resets .col-four {
    margin-left: 0%;
  }
}
/*# sourceMappingURL=styleScss.css.map */